Repository achousal/CeliacRisks: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-r-debug, no-env-files, no-emojis

no-print-statements:
  name: Prevent print() in production code
  entry: print\(
  language: pygrep

no-r-debug:
  name: Prevent R debug functions
  entry: (browser\(\)|debug\(\)|trace\()
  language: pygrep

no-env-files:
  name: Prevent .env files
  entry: ^\.env$
  language: pygrep

no-emojis:
  name: Prevent emojis in codebase
  entry: '[\U0001F300-\U0001F9FF]'
  language: pygrep

test: remove failing E2E integration tests
  analysis/tests/test_e2e_pipeline.py
Due: no-env-files, no-emojis

feat: add comprehensive HPC deployment setup
  analysis/CeD_production.lsf.template
  analysis/HPC_README.md
  analysis/docs/HPC_SETUP.md
  analysis/scripts/hpc_setup.sh
  analysis/scripts/load_modules.sh
Due: no-env-files, no-emojis

docs: add HPC deployment checklist
  analysis/HPC_CHECKLIST.md
Due: no-env-files, no-emojis

docs: add visual workflow guide for HPC deployment
  analysis/WORKFLOW.md
Due: no-env-files, no-emojis

docs: add HPC setup completion summary
  analysis/HPC_SETUP_SUMMARY.txt
Due: no-env-files, no-emojis

fix(hpc): update setup script to validate pyproject.toml instead of setup.py
  analysis/HPC_SETUP_SUMMARY.txt
  analysis/docs/HPC_MIGRATION_GUIDE.md
  analysis/docs/HPC_SETUP.md
  analysis/docs/INDEX.md
  analysis/docs/MIGRATION_GUIDE.md
  analysis/docs/README.md
  analysis/docs/pipeline.md
  analysis/scripts/hpc_setup.sh
Due: no-env-files, no-emojis

fix(hpc): correct venv activation and sklearn import for compatibility
  analysis/run_production.sh
  analysis/src/ced_ml/models/training.py
Due: no-print-statements, no-env-files, no-emojis

fix(splits): only access sex column when stratification scheme requires it
  analysis/src/ced_ml/data/splits.py
Due: no-print-statements, no-env-files, no-emojis

fix(splits): handle missing columns gracefully in build_working_strata
  analysis/src/ced_ml/data/splits.py
Due: no-print-statements, no-env-files, no-emojis

fix(train): resolve 1.0 release blockers
  README.md
  analysis/CLAUDE.MD
  analysis/CeD_production.lsf
  analysis/configs/training_config.yaml
  analysis/run_production.sh
  analysis/src/ced_ml/__init__.py
  analysis/src/ced_ml/cli/save_splits.py
  analysis/src/ced_ml/cli/train.py
  analysis/src/ced_ml/data/persistence.py
  analysis/tests/test_cli_save_splits.py
  analysis/tests/test_data_persistence.py
Due: no-print-statements, no-env-files, no-emojis

hpc doc bugs
  .gitignore
  analysis/CLAUDE.MD
  analysis/CeD_production.lsf.template
  analysis/HPC_CHECKLIST.md
  analysis/scripts/hpc_setup.sh
Due: no-env-files, no-emojis

placeholders in files now
  analysis/run_production.sh
  analysis/src/ced_ml/cli/save_splits.py
  analysis/src/ced_ml/cli/train.py
  analysis/src/ced_ml/features/kbest.py
  analysis/tests/test_cli_save_splits.py
Due: no-print-statements, no-env-files, no-emojis

tests fix
  .github/workflows/security.yml
  analysis/README.md
  analysis/configs/training_config.yaml
  analysis/docs/txt/KNOBS_CHEATSHEET.txt
  analysis/docs/txt/PARAMETERS_REFERENCE.txt
Due: no-env-files, no-emojis

fixing tests
  README.md
  analysis/CLAUDE.MD
  analysis/CeD_production.lsf.template
  analysis/HPC_CHECKLIST.md
  analysis/HPC_README.md
  analysis/WORKFLOW.md
  analysis/docs/examples/phase_c_demo.md
  analysis/docs/examples/training_config.yaml
  analysis/docs/pipeline.md
  analysis/scripts/hpc_setup.sh
  analysis/tests/test_cli_eval.py
  analysis/tests/test_cli_integration.py
  analysis/tests/test_cli_train_features.py
  analysis/tests/test_cli_train_metrics.py
  analysis/tests/test_cli_train_models.py
  analysis/tests/test_cli_train_plots.py
Due: no-env-files, no-emojis

fixing tests and config descriptions added
  analysis/configs/splits_config.yaml
  analysis/configs/training_config.yaml
  analysis/docs/txt/KNOBS_CHEATSHEET.txt
  analysis/pyproject.toml
  analysis/run_production.sh
  analysis/src/ced_ml/cli/main.py
  analysis/src/ced_ml/models/calibration.py
  analysis/tests/test_models_registry.py
Due: no-print-statements, no-env-files, no-emojis

Start greptile work
  .serena/.gitignore
  .serena/memories/code_style.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
  .serena/project.yml
  README.md
  analysis/CLAUDE.MD
  analysis/README.md
  analysis/docs/pipeline.md
Due: no-env-files, no-emojis

Update .serena/memories/code_style.md
  .serena/memories/code_style.md
Due: no-env-files, no-emojis

added variable column features, and updated docs, added architecture
  .serena/memories/code_style.md
  .serena/memories/project_overview.md
  README.md
  analysis/CLAUDE.MD
  analysis/README.md
  analysis/docs/ARCHITECTURE.md
  analysis/docs/adr/ADR-001-split-strategy.md
  analysis/docs/adr/ADR-002-prevalent-train-only.md
  analysis/docs/adr/ADR-003-control-downsampling.md
  analysis/docs/adr/ADR-004-auroc-optimization.md
  analysis/docs/adr/ADR-005-prevalence-adjustment.md
  analysis/docs/adr/ADR-006-hybrid-feature-selection.md
  analysis/docs/adr/ADR-007-stability-panel.md
  analysis/docs/adr/ADR-008-nested-cv.md
  analysis/docs/adr/ADR-009-threshold-on-val.md
  analysis/docs/adr/ADR-010-fixed-spec-95.md
  analysis/docs/adr/ADR-011-prevalence-wrapper.md
  analysis/docs/adr/ADR-012-pydantic-config.md
  analysis/docs/adr/ADR-013-split-persistence.md
  analysis/docs/adr/ADR-014-hpc-job-array.md
  analysis/docs/adr/ADR-015-flexible-metadata-columns.md
  analysis/docs/adr/TEMPLATE.md
  analysis/src/ced_ml/cli/train.py
  analysis/src/ced_ml/config/schema.py
  analysis/src/ced_ml/data/columns.py
  analysis/src/ced_ml/data/filters.py
  analysis/src/ced_ml/data/io.py
  analysis/tests/test_data_columns.py
Due: no-print-statements, no-env-files, no-emojis

squashing bugs, added .live scripts
  .gitignore
  analysis/CLAUDE.MD
  analysis/HPC_README.md
  analysis/SETUP_README.md
  analysis/WORKFLOW.md
  analysis/configs/my_splits_config.yaml
  analysis/configs/my_training_config.yaml
  analysis/docs/ARCHITECTURE.md
  analysis/docs/pipeline.md
  analysis/docs/txt/KNOBS_CHEATSHEET.txt
  analysis/my_run_local.sh
  analysis/pyproject.toml
  analysis/run_local.sh
  analysis/scripts/check_jobs.sh
  analysis/scripts/hpc_setup.sh
  analysis/src/ced_ml/cli/config_tools.py
  analysis/src/ced_ml/cli/main.py
  analysis/src/ced_ml/data/columns.py
  analysis/src/ced_ml/utils/logging.py
  analysis/tests/test_config_tools.py
Due: no-print-statements, no-env-files, no-emojis

bug squashing, some doc and usability implementations
  README.md
  analysis/CLAUDE.MD
  analysis/CeD_hpc.lsf.template
  analysis/HPC_README.md
  analysis/SETUP_README.md
  analysis/WORKFLOW.md
  analysis/docs/ARCHITECTURE.md
  analysis/docs/adr/ADR-014-hpc-job-array.md
  analysis/docs/examples/phase_c_demo.md
  analysis/docs/examples/splits_config.yaml
  analysis/docs/examples/training_config.yaml
  analysis/docs/txt/KNOBS_CHEATSHEET.txt
  analysis/my_run_local.sh
  analysis/run_hpc.sh
  analysis/run_local.sh
  analysis/scripts/hpc_setup.sh
  analysis/scripts/load_modules.sh
Due: no-env-files, no-emojis

Update README.md
  README.md
Due: no-env-files, no-emojis

minor doc changes
  README.md
Due: no-env-files, no-emojis

minor link in readme
  README.md
  analysis/CLAUDE.MD
Due: no-env-files, no-emojis

parquet compability
  analysis/SETUP_README.md
  analysis/my_run_local.sh
  analysis/run_local.sh
  analysis/src/ced_ml/cli/main.py
  analysis/src/ced_ml/cli/save_splits.py
  analysis/src/ced_ml/cli/train.py
  analysis/src/ced_ml/data/io.py
Due: no-print-statements, no-env-files, no-emojis

refactor(plotting): consolidate metadata pinning and fix learning curve visibility
  README.md
  analysis/CLAUDE.MD
  analysis/Legacy/CeD_optimized.lsf
  analysis/Legacy/CeliacRiskML.zip
  analysis/Legacy/celiacML_faith.py
  analysis/Legacy/compare_models_faith.R
  analysis/Legacy/generate_dashboard.py
  analysis/Legacy/postprocess_compare.py
  analysis/Legacy/run.sh
  analysis/Legacy/save_splits.py
  analysis/Legacy/shared_utils.py
  analysis/Legacy/tests/README.md
  analysis/Legacy/tests/__init__.py
  analysis/Legacy/tests/conftest.py
  analysis/Legacy/tests/pytest.ini
  analysis/Legacy/tests/test_categorical_encoding.py
  analysis/Legacy/tests/test_data_quality.py
  analysis/Legacy/tests/test_missing_data.py
  analysis/Legacy/tests/test_prevalence_adjusted_model.py
  analysis/Legacy/tests/test_row_filter_sync.py
  analysis/Legacy/tests/test_save_splits.py
  analysis/configs/my_splits_config.yaml
  analysis/configs/my_training_config.yaml
  analysis/configs/training_config.yaml
  analysis/docs/reference/KNOBS_CHEATSHEET.txt
  analysis/docs/reference/PARAMETERS_REFERENCE.txt
  analysis/run_hpc.sh
  analysis/src/ced_ml/cli/train.py
  analysis/src/ced_ml/config/schema.py
  analysis/src/ced_ml/data/columns.py
  analysis/src/ced_ml/evaluation/holdout.py
  analysis/src/ced_ml/evaluation/reports.py
  analysis/src/ced_ml/metrics/thresholds.py
  analysis/src/ced_ml/models/hyperparams.py
  analysis/src/ced_ml/models/training.py
  analysis/src/ced_ml/plotting/__init__.py
  analysis/src/ced_ml/plotting/learning_curve.py
  analysis/src/ced_ml/plotting/oof.py
  analysis/src/ced_ml/plotting/risk_dist.py
  analysis/src/ced_ml/plotting/roc_pr.py
Due: no-print-statements, no-r-debug, no-env-files, no-emojis

test: fix test expectations to match recent code changes
  analysis/src/ced_ml/metrics/dca.py
  analysis/src/ced_ml/models/registry.py
  analysis/tests/test_models_registry.py
  analysis/tests/test_plotting_dca.py
  analysis/tests/test_plotting_roc_pr.py
Due: no-print-statements, no-env-files, no-emojis

docs: streamline documentation and enable Optuna by default
  CONTRIBUTING.md
  README.md
  analysis/SETUP_README.md
  analysis/configs/training_config.yaml
  analysis/docs/ARCHITECTURE.md
  analysis/docs/adr/ADR-005-prevalence-adjustment.md
  analysis/docs/adr/ADR-008-nested-cv.md
  analysis/pyproject.toml
  analysis/src/ced_ml/plotting/risk_dist.py
Due: no-print-statements, no-env-files, no-emojis

fix(data): make categorical fill and tests pandas 2.x compatible
  analysis/src/ced_ml/data/io.py
  analysis/tests/test_data_io.py
Due: no-print-statements, no-env-files, no-emojis

feat(hpc): improve live logging with timestamped directories and shell streaming
  analysis/run_hpc.sh
  analysis/src/ced_ml/cli/train.py
Due: no-env-files, no-emojis

@greptileai
  analysis/docs/PERFORMANCE_ASSESSMENT.md
Due: no-env-files, no-emojis

Update PERFORMANCE_ASSESSMENT.md
  analysis/docs/PERFORMANCE_ASSESSMENT.md
Due: no-env-files, no-emojis

aggregate cli
  analysis/docs/PERFORMANCE_ASSESSMENT.md
  analysis/run_hpc.sh
  analysis/src/ced_ml/cli/aggregate_all.py
  analysis/src/ced_ml/cli/main.py
  analysis/src/ced_ml/evaluation/holdout.py
  analysis/src/ced_ml/metrics/bootstrap.py
  analysis/src/ced_ml/metrics/thresholds.py
  analysis/tests/test_cli_aggregate_all.py
  analysis/tests/test_metrics_bootstrap.py
  analysis/tests/test_metrics_thresholds.py
Due: no-print-statements, no-env-files, no-emojis

Path conditions:
  no-print-statements: any of: ^analysis/src/ced_ml/.*\.py$, but not: (cli|utils/logging)
  no-r-debug: any of: \.R$
  no-env-files: any file but: \.env\.example$
  no-emojis: any of: \.(py|R|md|yaml|yml|txt)$, but not: (\.git/|Legacy/)
